@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-textMain antialiased overflow-x-hidden;
  }
}

/* Custom scrollbar for better look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f6ff;
}
